doctype html
html(ng-app='dreamlog')
  head
    title Dreamlog
    link(rel='stylesheet', href='/stylesheets/application.css')
    script(src='js/libs/angular.min.js')
    script(src='js/application.js')
    
  body(ng-controller='record')
    h1 Dreamlog
    
    table
      thead
        // tr
        //   th(colspan='5') Основное
        //   th(colspan='7') Факторы сна
        //   th(colspan='6') Дополнительно
        tr
          th Дата
          th Имя
          // th(colspan='2') Время сна
          // th Качество
          // th С партнёром?
          // th Поза
          // th Кислород
          // th Тепло
          // th Ощущения
          // th Активность перед сном
          // th Еда перед сном
          // th Лунная фаза
          // th Оповещения
          // th Пожелания
          // th Практики
          // th Содержание сна
          th Действия
      tbody
        tr.add-record
          td {{date.today | date:'dd MMM'}}
          td 
            select(ng-model='record.Person')
              option Ren
              option Yuri
          // td
          //   input(type='text', placeholder='часы-минуты') 
          // td
          //   input(type='time')
          //   input(type='time')
          // td 
          //   input(type='checkbox')
          //   input(type='checkbox')
          //   input(type='checkbox')
          //   input(type='checkbox')
          //   input(type='checkbox')
          // td
          //   select
          //     option да
          //     option нет
          // td
          //   input(type='text')
          // td
          //   input(type='text')
          // td
          //   input(type='text')
          // td
          //   input(list='feelings')
          //   datalist(id='feelings')
          //     option Тревога
          //     option Спокойствие
          // td
          //   input(list='activity')
          //   datalist(id='activity')
          //     option Работа
          //     option Фильм \ ТВ
          // td
          //   select
          //     option Да
          //     option Нет
          //     option Немного
          // td {moonphase}
          // td
          //   input(type='text' disabled)
          // td
          //   input(type='text')
          // td
          //   input(type='text')
          // td
          //   textarea
          td
            button(ng-click='addRecord(record)') Add
          //   button(class='edit') Edit
          //   button(class='del') Delete
        tr
          td {{date.today}}
          td {{record.Person}}
          // td
          // td
          // td
          // td
          // td
          // td
          // td
          // td
          // td
          // td
          // td
          // td
          // td
          // td
          td
              
              
            