<!DOCTYPE html>
<html ng-app="dreamlog">
    <head>
        <title>Dreamlog</title>
        <link rel="stylesheet" href="/stylesheets/application.css">
        <script src="js/libs/angular.min.js"></script><script src="js/application.js"></script>
    </head>
    
    <body ng-controller="record">
        <h1>Dreamlog</h1>
        <table>
            <thead>
                <!-- tr-->
                    <!--   th(colspan='5') Основное-->
                    <!--   th(colspan='7') Факторы сна-->
                    <!--   th(colspan='6') Дополнительно-->
                <tr>
                    <th>Дата</th>
                    <th>Имя</th>
                    <!-- th(colspan='2') Время сна-->
                    <!-- th Качество-->
                    <!-- th С партнёром?-->
                    <!-- th Поза-->
                    <!-- th Кислород-->
                    <!-- th Тепло-->
                    <!-- th Ощущения-->
                    <!-- th Активность перед сном-->
                    <!-- th Еда перед сном-->
                    <!-- th Лунная фаза-->
                    <!-- th Оповещения-->
                    <!-- th Пожелания-->
                    <!-- th Практики-->
                    <!-- th Содержание сна-->
                    <th>Действия</th>
                </tr>
            </thead>
            <tbody>
                <tr class="add-record">
                    <td>{{date.today | date:'dd MMM'}}</td>
                    <td><select ng-model="record.Person"><option>Ren</option><option>Yuri</option></select></td>
                    <!-- td--><!--   input(type='text', placeholder='часы-минуты') -->
                    <!-- td--><!--   input(type='time')--><!--   input(type='time')-->
                    <!-- td --><!--   input(type='checkbox')--><!--   input(type='checkbox')--><!--   input(type='checkbox')--><!--   input(type='checkbox')--><!--   input(type='checkbox')-->
                    <!-- td--><!--   select--><!--     option да--><!--     option нет-->
                    <!-- td--><!--   input(type='text')-->
                    <!-- td--><!--   input(type='text')-->
                    <!-- td--><!--   input(type='text')-->
                    <!-- td--><!--   input(list='feelings')--><!--   datalist(id='feelings')--><!--     option Тревога--><!--     option Спокойствие-->
                    <!-- td--><!--   input(list='activity')--><!--   datalist(id='activity')--><!--     option Работа--><!--     option Фильм \ ТВ-->
                    <!-- td--><!--   select--><!--     option Да--><!--     option Нет--><!--     option Немного-->
                    <!-- td {moonphase}-->
                    <!-- td--><!--   input(type='text' disabled)-->
                    <!-- td--><!--   input(type='text')-->
                    <!-- td--><!--   input(type='text')-->
                    <!-- td--><!--   textarea--><td><button ng-click="addRecord(record)">Add</button></td><!--   button(class='edit') Edit--><!--   button(class='del') Delete-->
                </tr>
                <tr>
                    <td>{{date.today}}</td>
                    <td>{{record.Person}}</td>
                    <!-- td--><!-- td-->
                    <!-- td--><!-- td-->
                    <!-- td--><!-- td-->
                    <!-- td--><!-- td-->
                    <!-- td--><!-- td-->
                    <!-- td--><!-- td-->
                    <!-- td--><!-- td-->
                    <td></td>
                </tr>
            </tbody>
        </table>
        
    </body>
</html>