/* line 15, ../sass/demo-isolation.scss */
body {
  margin: 0;
  padding: 0;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(210, 105, 30, 0.5)), color-stop(42.85714%, rgba(210, 105, 30, 0.5)), color-stop(42.85714%, rgba(210, 105, 30, 0.25)), color-stop(57.14286%, rgba(210, 105, 30, 0.25)), color-stop(57.14286%, rgba(210, 105, 30, 0.5)), color-stop(100%, rgba(210, 105, 30, 0.5)));
  background-image: -webkit-linear-gradient(left, rgba(210, 105, 30, 0.5), rgba(210, 105, 30, 0.5) 42.85714%, rgba(210, 105, 30, 0.25) 42.85714%, rgba(210, 105, 30, 0.25) 57.14286%, rgba(210, 105, 30, 0.5) 57.14286%, rgba(210, 105, 30, 0.5) 100%);
  background-image: -moz-linear-gradient(left, rgba(210, 105, 30, 0.5), rgba(210, 105, 30, 0.5) 42.85714%, rgba(210, 105, 30, 0.25) 42.85714%, rgba(210, 105, 30, 0.25) 57.14286%, rgba(210, 105, 30, 0.5) 57.14286%, rgba(210, 105, 30, 0.5) 100%);
  background-image: -o-linear-gradient(left, rgba(210, 105, 30, 0.5), rgba(210, 105, 30, 0.5) 42.85714%, rgba(210, 105, 30, 0.25) 42.85714%, rgba(210, 105, 30, 0.25) 57.14286%, rgba(210, 105, 30, 0.5) 57.14286%, rgba(210, 105, 30, 0.5) 100%);
  background-image: linear-gradient(left, rgba(210, 105, 30, 0.5), rgba(210, 105, 30, 0.5) 42.85714%, rgba(210, 105, 30, 0.25) 42.85714%, rgba(210, 105, 30, 0.25) 57.14286%, rgba(210, 105, 30, 0.5) 57.14286%, rgba(210, 105, 30, 0.5) 100%);
}
@media (min-width: 700px) {
  /* line 15, ../sass/demo-isolation.scss */
  body {
    background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(210, 105, 30, 0.5)), color-stop(14.28571%, rgba(210, 105, 30, 0.5)), color-stop(14.28571%, rgba(210, 105, 30, 0.25)), color-stop(16.66667%, rgba(210, 105, 30, 0.25)), color-stop(16.66667%, rgba(210, 105, 30, 0.5)), color-stop(73.80952%, rgba(210, 105, 30, 0.5)), color-stop(73.80952%, rgba(210, 105, 30, 0.25)), color-stop(76.19048%, rgba(210, 105, 30, 0.25)), color-stop(76.19048%, rgba(210, 105, 30, 0.5)), color-stop(90.47619%, rgba(210, 105, 30, 0.5)), color-stop(90.47619%, rgba(210, 105, 30, 0.25)), color-stop(92.85714%, rgba(210, 105, 30, 0.25)), color-stop(92.85714%, rgba(210, 105, 30, 0.5)), color-stop(100.0%, rgba(210, 105, 30, 0.5)), color-stop(100.0%, rgba(210, 105, 30, 0.25)), color-stop(102.38095%, rgba(210, 105, 30, 0.25)));
    background-image: -webkit-linear-gradient(left, rgba(210, 105, 30, 0.5), rgba(210, 105, 30, 0.5) 14.28571%, rgba(210, 105, 30, 0.25) 14.28571%, rgba(210, 105, 30, 0.25) 16.66667%, rgba(210, 105, 30, 0.5) 16.66667%, rgba(210, 105, 30, 0.5) 73.80952%, rgba(210, 105, 30, 0.25) 73.80952%, rgba(210, 105, 30, 0.25) 76.19048%, rgba(210, 105, 30, 0.5) 76.19048%, rgba(210, 105, 30, 0.5) 90.47619%, rgba(210, 105, 30, 0.25) 90.47619%, rgba(210, 105, 30, 0.25) 92.85714%, rgba(210, 105, 30, 0.5) 92.85714%, rgba(210, 105, 30, 0.5) 100.0%, rgba(210, 105, 30, 0.25) 100.0%, rgba(210, 105, 30, 0.25) 102.38095%);
    background-image: -moz-linear-gradient(left, rgba(210, 105, 30, 0.5), rgba(210, 105, 30, 0.5) 14.28571%, rgba(210, 105, 30, 0.25) 14.28571%, rgba(210, 105, 30, 0.25) 16.66667%, rgba(210, 105, 30, 0.5) 16.66667%, rgba(210, 105, 30, 0.5) 73.80952%, rgba(210, 105, 30, 0.25) 73.80952%, rgba(210, 105, 30, 0.25) 76.19048%, rgba(210, 105, 30, 0.5) 76.19048%, rgba(210, 105, 30, 0.5) 90.47619%, rgba(210, 105, 30, 0.25) 90.47619%, rgba(210, 105, 30, 0.25) 92.85714%, rgba(210, 105, 30, 0.5) 92.85714%, rgba(210, 105, 30, 0.5) 100.0%, rgba(210, 105, 30, 0.25) 100.0%, rgba(210, 105, 30, 0.25) 102.38095%);
    background-image: -o-linear-gradient(left, rgba(210, 105, 30, 0.5), rgba(210, 105, 30, 0.5) 14.28571%, rgba(210, 105, 30, 0.25) 14.28571%, rgba(210, 105, 30, 0.25) 16.66667%, rgba(210, 105, 30, 0.5) 16.66667%, rgba(210, 105, 30, 0.5) 73.80952%, rgba(210, 105, 30, 0.25) 73.80952%, rgba(210, 105, 30, 0.25) 76.19048%, rgba(210, 105, 30, 0.5) 76.19048%, rgba(210, 105, 30, 0.5) 90.47619%, rgba(210, 105, 30, 0.25) 90.47619%, rgba(210, 105, 30, 0.25) 92.85714%, rgba(210, 105, 30, 0.5) 92.85714%, rgba(210, 105, 30, 0.5) 100.0%, rgba(210, 105, 30, 0.25) 100.0%, rgba(210, 105, 30, 0.25) 102.38095%);
    background-image: linear-gradient(left, rgba(210, 105, 30, 0.5), rgba(210, 105, 30, 0.5) 14.28571%, rgba(210, 105, 30, 0.25) 14.28571%, rgba(210, 105, 30, 0.25) 16.66667%, rgba(210, 105, 30, 0.5) 16.66667%, rgba(210, 105, 30, 0.5) 73.80952%, rgba(210, 105, 30, 0.25) 73.80952%, rgba(210, 105, 30, 0.25) 76.19048%, rgba(210, 105, 30, 0.5) 76.19048%, rgba(210, 105, 30, 0.5) 90.47619%, rgba(210, 105, 30, 0.25) 90.47619%, rgba(210, 105, 30, 0.25) 92.85714%, rgba(210, 105, 30, 0.5) 92.85714%, rgba(210, 105, 30, 0.5) 100.0%, rgba(210, 105, 30, 0.25) 100.0%, rgba(210, 105, 30, 0.25) 102.38095%);
  }
}
@media (min-width: 900px) {
  /* line 15, ../sass/demo-isolation.scss */
  body {
    background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(210, 105, 30, 0.5)), color-stop(6.38298%, rgba(210, 105, 30, 0.5)), color-stop(6.38298%, rgba(210, 105, 30, 0.25)), color-stop(8.51064%, rgba(210, 105, 30, 0.25)), color-stop(8.51064%, rgba(210, 105, 30, 0.5)), color-stop(14.89362%, rgba(210, 105, 30, 0.5)), color-stop(14.89362%, rgba(210, 105, 30, 0.25)), color-stop(17.02128%, rgba(210, 105, 30, 0.25)), color-stop(17.02128%, rgba(210, 105, 30, 0.5)), color-stop(23.40426%, rgba(210, 105, 30, 0.5)), color-stop(23.40426%, rgba(210, 105, 30, 0.25)), color-stop(25.53191%, rgba(210, 105, 30, 0.25)), color-stop(25.53191%, rgba(210, 105, 30, 0.5)), color-stop(31.91489%, rgba(210, 105, 30, 0.5)), color-stop(31.91489%, rgba(210, 105, 30, 0.25)), color-stop(34.04255%, rgba(210, 105, 30, 0.25)), color-stop(34.04255%, rgba(210, 105, 30, 0.5)), color-stop(40.42553%, rgba(210, 105, 30, 0.5)), color-stop(40.42553%, rgba(210, 105, 30, 0.25)), color-stop(42.55319%, rgba(210, 105, 30, 0.25)), color-stop(42.55319%, rgba(210, 105, 30, 0.5)), color-stop(48.93617%, rgba(210, 105, 30, 0.5)), color-stop(48.93617%, rgba(210, 105, 30, 0.25)), color-stop(51.06383%, rgba(210, 105, 30, 0.25)), color-stop(51.06383%, rgba(210, 105, 30, 0.5)), color-stop(57.44681%, rgba(210, 105, 30, 0.5)), color-stop(57.44681%, rgba(210, 105, 30, 0.25)), color-stop(59.57447%, rgba(210, 105, 30, 0.25)), color-stop(59.57447%, rgba(210, 105, 30, 0.5)), color-stop(65.95745%, rgba(210, 105, 30, 0.5)), color-stop(65.95745%, rgba(210, 105, 30, 0.25)), color-stop(68.08511%, rgba(210, 105, 30, 0.25)), color-stop(68.08511%, rgba(210, 105, 30, 0.5)), color-stop(74.46809%, rgba(210, 105, 30, 0.5)), color-stop(74.46809%, rgba(210, 105, 30, 0.25)), color-stop(76.59574%, rgba(210, 105, 30, 0.25)), color-stop(76.59574%, rgba(210, 105, 30, 0.5)), color-stop(82.97872%, rgba(210, 105, 30, 0.5)), color-stop(82.97872%, rgba(210, 105, 30, 0.25)), color-stop(85.10638%, rgba(210, 105, 30, 0.25)), color-stop(85.10638%, rgba(210, 105, 30, 0.5)), color-stop(91.48936%, rgba(210, 105, 30, 0.5)), color-stop(91.48936%, rgba(210, 105, 30, 0.25)), color-stop(93.61702%, rgba(210, 105, 30, 0.25)), color-stop(93.61702%, rgba(210, 105, 30, 0.5)), color-stop(100%, rgba(210, 105, 30, 0.5)));
    background-image: -webkit-linear-gradient(left, rgba(210, 105, 30, 0.5), rgba(210, 105, 30, 0.5) 6.38298%, rgba(210, 105, 30, 0.25) 6.38298%, rgba(210, 105, 30, 0.25) 8.51064%, rgba(210, 105, 30, 0.5) 8.51064%, rgba(210, 105, 30, 0.5) 14.89362%, rgba(210, 105, 30, 0.25) 14.89362%, rgba(210, 105, 30, 0.25) 17.02128%, rgba(210, 105, 30, 0.5) 17.02128%, rgba(210, 105, 30, 0.5) 23.40426%, rgba(210, 105, 30, 0.25) 23.40426%, rgba(210, 105, 30, 0.25) 25.53191%, rgba(210, 105, 30, 0.5) 25.53191%, rgba(210, 105, 30, 0.5) 31.91489%, rgba(210, 105, 30, 0.25) 31.91489%, rgba(210, 105, 30, 0.25) 34.04255%, rgba(210, 105, 30, 0.5) 34.04255%, rgba(210, 105, 30, 0.5) 40.42553%, rgba(210, 105, 30, 0.25) 40.42553%, rgba(210, 105, 30, 0.25) 42.55319%, rgba(210, 105, 30, 0.5) 42.55319%, rgba(210, 105, 30, 0.5) 48.93617%, rgba(210, 105, 30, 0.25) 48.93617%, rgba(210, 105, 30, 0.25) 51.06383%, rgba(210, 105, 30, 0.5) 51.06383%, rgba(210, 105, 30, 0.5) 57.44681%, rgba(210, 105, 30, 0.25) 57.44681%, rgba(210, 105, 30, 0.25) 59.57447%, rgba(210, 105, 30, 0.5) 59.57447%, rgba(210, 105, 30, 0.5) 65.95745%, rgba(210, 105, 30, 0.25) 65.95745%, rgba(210, 105, 30, 0.25) 68.08511%, rgba(210, 105, 30, 0.5) 68.08511%, rgba(210, 105, 30, 0.5) 74.46809%, rgba(210, 105, 30, 0.25) 74.46809%, rgba(210, 105, 30, 0.25) 76.59574%, rgba(210, 105, 30, 0.5) 76.59574%, rgba(210, 105, 30, 0.5) 82.97872%, rgba(210, 105, 30, 0.25) 82.97872%, rgba(210, 105, 30, 0.25) 85.10638%, rgba(210, 105, 30, 0.5) 85.10638%, rgba(210, 105, 30, 0.5) 91.48936%, rgba(210, 105, 30, 0.25) 91.48936%, rgba(210, 105, 30, 0.25) 93.61702%, rgba(210, 105, 30, 0.5) 93.61702%, rgba(210, 105, 30, 0.5) 100%);
    background-image: -moz-linear-gradient(left, rgba(210, 105, 30, 0.5), rgba(210, 105, 30, 0.5) 6.38298%, rgba(210, 105, 30, 0.25) 6.38298%, rgba(210, 105, 30, 0.25) 8.51064%, rgba(210, 105, 30, 0.5) 8.51064%, rgba(210, 105, 30, 0.5) 14.89362%, rgba(210, 105, 30, 0.25) 14.89362%, rgba(210, 105, 30, 0.25) 17.02128%, rgba(210, 105, 30, 0.5) 17.02128%, rgba(210, 105, 30, 0.5) 23.40426%, rgba(210, 105, 30, 0.25) 23.40426%, rgba(210, 105, 30, 0.25) 25.53191%, rgba(210, 105, 30, 0.5) 25.53191%, rgba(210, 105, 30, 0.5) 31.91489%, rgba(210, 105, 30, 0.25) 31.91489%, rgba(210, 105, 30, 0.25) 34.04255%, rgba(210, 105, 30, 0.5) 34.04255%, rgba(210, 105, 30, 0.5) 40.42553%, rgba(210, 105, 30, 0.25) 40.42553%, rgba(210, 105, 30, 0.25) 42.55319%, rgba(210, 105, 30, 0.5) 42.55319%, rgba(210, 105, 30, 0.5) 48.93617%, rgba(210, 105, 30, 0.25) 48.93617%, rgba(210, 105, 30, 0.25) 51.06383%, rgba(210, 105, 30, 0.5) 51.06383%, rgba(210, 105, 30, 0.5) 57.44681%, rgba(210, 105, 30, 0.25) 57.44681%, rgba(210, 105, 30, 0.25) 59.57447%, rgba(210, 105, 30, 0.5) 59.57447%, rgba(210, 105, 30, 0.5) 65.95745%, rgba(210, 105, 30, 0.25) 65.95745%, rgba(210, 105, 30, 0.25) 68.08511%, rgba(210, 105, 30, 0.5) 68.08511%, rgba(210, 105, 30, 0.5) 74.46809%, rgba(210, 105, 30, 0.25) 74.46809%, rgba(210, 105, 30, 0.25) 76.59574%, rgba(210, 105, 30, 0.5) 76.59574%, rgba(210, 105, 30, 0.5) 82.97872%, rgba(210, 105, 30, 0.25) 82.97872%, rgba(210, 105, 30, 0.25) 85.10638%, rgba(210, 105, 30, 0.5) 85.10638%, rgba(210, 105, 30, 0.5) 91.48936%, rgba(210, 105, 30, 0.25) 91.48936%, rgba(210, 105, 30, 0.25) 93.61702%, rgba(210, 105, 30, 0.5) 93.61702%, rgba(210, 105, 30, 0.5) 100%);
    background-image: -o-linear-gradient(left, rgba(210, 105, 30, 0.5), rgba(210, 105, 30, 0.5) 6.38298%, rgba(210, 105, 30, 0.25) 6.38298%, rgba(210, 105, 30, 0.25) 8.51064%, rgba(210, 105, 30, 0.5) 8.51064%, rgba(210, 105, 30, 0.5) 14.89362%, rgba(210, 105, 30, 0.25) 14.89362%, rgba(210, 105, 30, 0.25) 17.02128%, rgba(210, 105, 30, 0.5) 17.02128%, rgba(210, 105, 30, 0.5) 23.40426%, rgba(210, 105, 30, 0.25) 23.40426%, rgba(210, 105, 30, 0.25) 25.53191%, rgba(210, 105, 30, 0.5) 25.53191%, rgba(210, 105, 30, 0.5) 31.91489%, rgba(210, 105, 30, 0.25) 31.91489%, rgba(210, 105, 30, 0.25) 34.04255%, rgba(210, 105, 30, 0.5) 34.04255%, rgba(210, 105, 30, 0.5) 40.42553%, rgba(210, 105, 30, 0.25) 40.42553%, rgba(210, 105, 30, 0.25) 42.55319%, rgba(210, 105, 30, 0.5) 42.55319%, rgba(210, 105, 30, 0.5) 48.93617%, rgba(210, 105, 30, 0.25) 48.93617%, rgba(210, 105, 30, 0.25) 51.06383%, rgba(210, 105, 30, 0.5) 51.06383%, rgba(210, 105, 30, 0.5) 57.44681%, rgba(210, 105, 30, 0.25) 57.44681%, rgba(210, 105, 30, 0.25) 59.57447%, rgba(210, 105, 30, 0.5) 59.57447%, rgba(210, 105, 30, 0.5) 65.95745%, rgba(210, 105, 30, 0.25) 65.95745%, rgba(210, 105, 30, 0.25) 68.08511%, rgba(210, 105, 30, 0.5) 68.08511%, rgba(210, 105, 30, 0.5) 74.46809%, rgba(210, 105, 30, 0.25) 74.46809%, rgba(210, 105, 30, 0.25) 76.59574%, rgba(210, 105, 30, 0.5) 76.59574%, rgba(210, 105, 30, 0.5) 82.97872%, rgba(210, 105, 30, 0.25) 82.97872%, rgba(210, 105, 30, 0.25) 85.10638%, rgba(210, 105, 30, 0.5) 85.10638%, rgba(210, 105, 30, 0.5) 91.48936%, rgba(210, 105, 30, 0.25) 91.48936%, rgba(210, 105, 30, 0.25) 93.61702%, rgba(210, 105, 30, 0.5) 93.61702%, rgba(210, 105, 30, 0.5) 100%);
    background-image: linear-gradient(left, rgba(210, 105, 30, 0.5), rgba(210, 105, 30, 0.5) 6.38298%, rgba(210, 105, 30, 0.25) 6.38298%, rgba(210, 105, 30, 0.25) 8.51064%, rgba(210, 105, 30, 0.5) 8.51064%, rgba(210, 105, 30, 0.5) 14.89362%, rgba(210, 105, 30, 0.25) 14.89362%, rgba(210, 105, 30, 0.25) 17.02128%, rgba(210, 105, 30, 0.5) 17.02128%, rgba(210, 105, 30, 0.5) 23.40426%, rgba(210, 105, 30, 0.25) 23.40426%, rgba(210, 105, 30, 0.25) 25.53191%, rgba(210, 105, 30, 0.5) 25.53191%, rgba(210, 105, 30, 0.5) 31.91489%, rgba(210, 105, 30, 0.25) 31.91489%, rgba(210, 105, 30, 0.25) 34.04255%, rgba(210, 105, 30, 0.5) 34.04255%, rgba(210, 105, 30, 0.5) 40.42553%, rgba(210, 105, 30, 0.25) 40.42553%, rgba(210, 105, 30, 0.25) 42.55319%, rgba(210, 105, 30, 0.5) 42.55319%, rgba(210, 105, 30, 0.5) 48.93617%, rgba(210, 105, 30, 0.25) 48.93617%, rgba(210, 105, 30, 0.25) 51.06383%, rgba(210, 105, 30, 0.5) 51.06383%, rgba(210, 105, 30, 0.5) 57.44681%, rgba(210, 105, 30, 0.25) 57.44681%, rgba(210, 105, 30, 0.25) 59.57447%, rgba(210, 105, 30, 0.5) 59.57447%, rgba(210, 105, 30, 0.5) 65.95745%, rgba(210, 105, 30, 0.25) 65.95745%, rgba(210, 105, 30, 0.25) 68.08511%, rgba(210, 105, 30, 0.5) 68.08511%, rgba(210, 105, 30, 0.5) 74.46809%, rgba(210, 105, 30, 0.25) 74.46809%, rgba(210, 105, 30, 0.25) 76.59574%, rgba(210, 105, 30, 0.5) 76.59574%, rgba(210, 105, 30, 0.5) 82.97872%, rgba(210, 105, 30, 0.25) 82.97872%, rgba(210, 105, 30, 0.25) 85.10638%, rgba(210, 105, 30, 0.5) 85.10638%, rgba(210, 105, 30, 0.5) 91.48936%, rgba(210, 105, 30, 0.25) 91.48936%, rgba(210, 105, 30, 0.25) 93.61702%, rgba(210, 105, 30, 0.5) 93.61702%, rgba(210, 105, 30, 0.5) 100%);
  }
}
@media (min-width: 1200px) {
  /* line 15, ../sass/demo-isolation.scss */
  body {
    background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(210, 105, 30, 0.5)), color-stop(3.79747%, rgba(210, 105, 30, 0.5)), color-stop(3.79747%, rgba(210, 105, 30, 0.25)), color-stop(5.06329%, rgba(210, 105, 30, 0.25)), color-stop(5.06329%, rgba(210, 105, 30, 0.5)), color-stop(16.4557%, rgba(210, 105, 30, 0.5)), color-stop(16.4557%, rgba(210, 105, 30, 0.25)), color-stop(17.72152%, rgba(210, 105, 30, 0.25)), color-stop(17.72152%, rgba(210, 105, 30, 0.5)), color-stop(36.70886%, rgba(210, 105, 30, 0.5)), color-stop(36.70886%, rgba(210, 105, 30, 0.25)), color-stop(37.97468%, rgba(210, 105, 30, 0.25)), color-stop(37.97468%, rgba(210, 105, 30, 0.5)), color-stop(64.55696%, rgba(210, 105, 30, 0.5)), color-stop(64.55696%, rgba(210, 105, 30, 0.25)), color-stop(65.82278%, rgba(210, 105, 30, 0.25)), color-stop(65.82278%, rgba(210, 105, 30, 0.5)), color-stop(100%, rgba(210, 105, 30, 0.5)), color-stop(100%, rgba(210, 105, 30, 0.25)), color-stop(101.26582%, rgba(210, 105, 30, 0.25)));
    background-image: -webkit-linear-gradient(left, rgba(210, 105, 30, 0.5), rgba(210, 105, 30, 0.5) 3.79747%, rgba(210, 105, 30, 0.25) 3.79747%, rgba(210, 105, 30, 0.25) 5.06329%, rgba(210, 105, 30, 0.5) 5.06329%, rgba(210, 105, 30, 0.5) 16.4557%, rgba(210, 105, 30, 0.25) 16.4557%, rgba(210, 105, 30, 0.25) 17.72152%, rgba(210, 105, 30, 0.5) 17.72152%, rgba(210, 105, 30, 0.5) 36.70886%, rgba(210, 105, 30, 0.25) 36.70886%, rgba(210, 105, 30, 0.25) 37.97468%, rgba(210, 105, 30, 0.5) 37.97468%, rgba(210, 105, 30, 0.5) 64.55696%, rgba(210, 105, 30, 0.25) 64.55696%, rgba(210, 105, 30, 0.25) 65.82278%, rgba(210, 105, 30, 0.5) 65.82278%, rgba(210, 105, 30, 0.5) 100%, rgba(210, 105, 30, 0.25) 100%, rgba(210, 105, 30, 0.25) 101.26582%);
    background-image: -moz-linear-gradient(left, rgba(210, 105, 30, 0.5), rgba(210, 105, 30, 0.5) 3.79747%, rgba(210, 105, 30, 0.25) 3.79747%, rgba(210, 105, 30, 0.25) 5.06329%, rgba(210, 105, 30, 0.5) 5.06329%, rgba(210, 105, 30, 0.5) 16.4557%, rgba(210, 105, 30, 0.25) 16.4557%, rgba(210, 105, 30, 0.25) 17.72152%, rgba(210, 105, 30, 0.5) 17.72152%, rgba(210, 105, 30, 0.5) 36.70886%, rgba(210, 105, 30, 0.25) 36.70886%, rgba(210, 105, 30, 0.25) 37.97468%, rgba(210, 105, 30, 0.5) 37.97468%, rgba(210, 105, 30, 0.5) 64.55696%, rgba(210, 105, 30, 0.25) 64.55696%, rgba(210, 105, 30, 0.25) 65.82278%, rgba(210, 105, 30, 0.5) 65.82278%, rgba(210, 105, 30, 0.5) 100%, rgba(210, 105, 30, 0.25) 100%, rgba(210, 105, 30, 0.25) 101.26582%);
    background-image: -o-linear-gradient(left, rgba(210, 105, 30, 0.5), rgba(210, 105, 30, 0.5) 3.79747%, rgba(210, 105, 30, 0.25) 3.79747%, rgba(210, 105, 30, 0.25) 5.06329%, rgba(210, 105, 30, 0.5) 5.06329%, rgba(210, 105, 30, 0.5) 16.4557%, rgba(210, 105, 30, 0.25) 16.4557%, rgba(210, 105, 30, 0.25) 17.72152%, rgba(210, 105, 30, 0.5) 17.72152%, rgba(210, 105, 30, 0.5) 36.70886%, rgba(210, 105, 30, 0.25) 36.70886%, rgba(210, 105, 30, 0.25) 37.97468%, rgba(210, 105, 30, 0.5) 37.97468%, rgba(210, 105, 30, 0.5) 64.55696%, rgba(210, 105, 30, 0.25) 64.55696%, rgba(210, 105, 30, 0.25) 65.82278%, rgba(210, 105, 30, 0.5) 65.82278%, rgba(210, 105, 30, 0.5) 100%, rgba(210, 105, 30, 0.25) 100%, rgba(210, 105, 30, 0.25) 101.26582%);
    background-image: linear-gradient(left, rgba(210, 105, 30, 0.5), rgba(210, 105, 30, 0.5) 3.79747%, rgba(210, 105, 30, 0.25) 3.79747%, rgba(210, 105, 30, 0.25) 5.06329%, rgba(210, 105, 30, 0.5) 5.06329%, rgba(210, 105, 30, 0.5) 16.4557%, rgba(210, 105, 30, 0.25) 16.4557%, rgba(210, 105, 30, 0.25) 17.72152%, rgba(210, 105, 30, 0.5) 17.72152%, rgba(210, 105, 30, 0.5) 36.70886%, rgba(210, 105, 30, 0.25) 36.70886%, rgba(210, 105, 30, 0.25) 37.97468%, rgba(210, 105, 30, 0.5) 37.97468%, rgba(210, 105, 30, 0.5) 64.55696%, rgba(210, 105, 30, 0.25) 64.55696%, rgba(210, 105, 30, 0.25) 65.82278%, rgba(210, 105, 30, 0.5) 65.82278%, rgba(210, 105, 30, 0.5) 100%, rgba(210, 105, 30, 0.25) 100%, rgba(210, 105, 30, 0.25) 101.26582%);
  }
}

/* line 21, ../sass/demo-isolation.scss */
div {
  height: 50px;
}

/* line 25, ../sass/demo-isolation.scss */
#foo {
  background: red;
  height: 30px;
  width: 42.85714%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}
@media (min-width: 700px) {
  /* line 25, ../sass/demo-isolation.scss */
  #foo {
    width: 7.14286%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 25, ../sass/demo-isolation.scss */
  #foo {
    width: 14.89362%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
@media (min-width: 1200px) {
  /* line 25, ../sass/demo-isolation.scss */
  #foo {
    width: 18.98734%;
    float: left;
    margin-right: -100%;
    margin-left: 17.72152%;
    clear: none;
  }
}

/* line 43, ../sass/demo-isolation.scss */
#bar {
  background: green;
  height: 20px;
  width: 42.85714%;
  float: left;
  margin-right: -100%;
  margin-left: 0%;
  clear: none;
}
@media (min-width: 700px) {
  /* line 43, ../sass/demo-isolation.scss */
  #bar {
    width: 73.80952%;
    float: left;
    margin-right: -100%;
    margin-left: 16.66667%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 43, ../sass/demo-isolation.scss */
  #bar {
    width: 65.95745%;
    float: left;
    margin-right: -100%;
    margin-left: 17.02128%;
    clear: none;
  }
}
@media (min-width: 1200px) {
  /* line 43, ../sass/demo-isolation.scss */
  #bar {
    width: 3.79747%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none;
  }
}

/* line 62, ../sass/demo-isolation.scss */
#baz {
  background: purple;
  width: 42.85714%;
  float: left;
  margin-right: -100%;
  margin-left: 0%;
  clear: both;
}
@media (min-width: 700px) {
  /* line 62, ../sass/demo-isolation.scss */
  #baz {
    width: 14.28571%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 62, ../sass/demo-isolation.scss */
  #baz {
    width: 14.89362%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none;
  }
}
@media (min-width: 1200px) {
  /* line 62, ../sass/demo-isolation.scss */
  #baz {
    width: 34.17722%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}

/* line 79, ../sass/demo-isolation.scss */
#qux {
  background: yellow;
  width: 42.85714%;
  float: left;
  margin-right: -100%;
  margin-left: 0%;
  clear: left;
}
@media (min-width: 700px) {
  /* line 79, ../sass/demo-isolation.scss */
  #qux {
    width: 83.33333%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: left;
  }
}
@media (min-width: 900px) {
  /* line 79, ../sass/demo-isolation.scss */
  #qux {
    width: 23.40426%;
    float: left;
    margin-right: -100%;
    margin-left: 25.53191%;
    clear: both;
  }
}
@media (min-width: 1200px) {
  /* line 79, ../sass/demo-isolation.scss */
  #qux {
    width: 11.39241%;
    float: left;
    margin-right: -100%;
    margin-left: 5.06329%;
    clear: none;
  }
}

/* line 97, ../sass/demo-isolation.scss */
#waldo {
  background: blue;
  height: 70px;
  width: 42.85714%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: right;
}
@media (min-width: 700px) {
  /* line 97, ../sass/demo-isolation.scss */
  #waldo {
    width: 14.28571%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: left;
  }
}
@media (min-width: 900px) {
  /* line 97, ../sass/demo-isolation.scss */
  #waldo {
    width: 23.40426%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: right;
  }
}
@media (min-width: 1200px) {
  /* line 97, ../sass/demo-isolation.scss */
  #waldo {
    width: 26.58228%;
    float: left;
    margin-right: -100%;
    margin-left: 37.97468%;
    clear: none;
  }
}

/* line 116, ../sass/demo-isolation.scss */
#garfield {
  background: orange;
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: left;
}
@media (min-width: 700px) {
  /* line 116, ../sass/demo-isolation.scss */
  #garfield {
    width: 100.0%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: both;
  }
}
@media (min-width: 900px) {
  /* line 116, ../sass/demo-isolation.scss */
  #garfield {
    width: 40.42553%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
@media (min-width: 1200px) {
  /* line 116, ../sass/demo-isolation.scss */
  #garfield {
    width: 46.83544%;
    float: left;
    margin-right: -100%;
    margin-left: 17.72152%;
    clear: both;
  }
}
